<div *ngIf="loading"><mat-spinner></mat-spinner></div>

<div id="post-details">
  <ng-container *ngIf="post.isVisible">
    <mat-card *ngIf="!loading">
      <mat-card-title>
        <div>
          <h2>{{ post.title | titlecase }}</h2>
        </div>

        <div id="gradeDeptBlk">
          <div id="postGrade">
            <h2 *ngIf="post.gradeId">
              {{ post.gradeId[0].gradeName }}
            </h2>
          </div>
          <div id="postDepartment">
            <h2
              *ngIf="post.departmentId"
              (click)="deparmentDetails(post.departmentId._id)"
            >
              {{ post.departmentId.depName | titlecase }}
            </h2>
          </div>
        </div>
      </mat-card-title>

      <div class="post-content">
        <div class="images-block">
          <ng-container *ngIf="post.pictures.length !== 0">
            <div id="images-block">
              <ng-container *ngFor="let picture of post.pictures">
                <a [href]="picture.location" alt="post pictures" target="_blank"
                  ><img id="defaultImg" [src]="picture.location"
                /></a>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <div id="post-body">
          <div>
            <mat-card-subtitle>
              <div class="subtitleRow">
                <div id="userLockup">
                  <div id="img-col">
                    <img
                      id="postUserImg"
                      [src]="
                        !!post.userId.avatar
                          ? post.userId.avatar
                          : defaultAvatar
                      "
                      alt="User Image"
                      (click)="profileFront(post.userId._id)"
                    />
                  </div>
                  <div class="postUserDetail">
                    <h4
                      class="postUserDetail postUserName"
                      (click)="profileFront(post.userId._id)"
                    >
                      {{ post.userId.firstName }} {{ post.userId.lastName }}
                    </h4>
                    <h4 class="postUserDetail">
                      posted: {{ post.createdAt | date : "short" }}
                    </h4>
                  </div>
                </div>

                <!-- EVENT CARD -->
                <div id="event-card-column">
                  <ng-container *ngIf="post.isEvent">
                    <div id="event-card">
                      <div id="title-row">
                        <img
                          id="event-card-icon"
                          src="../../../../assets/images/calendar.png"
                        />
                        <h2>Event:</h2>
                      </div>

                      <div class="start-end-column">
                        <div class="event-card-row">
                          <h5>START:</h5>
                          <h4>
                            {{ post.eventDate | date : "shortDate" }}&nbsp;{{
                              post.eventDate | date : "shortTime"
                            }}
                          </h4>
                        </div>
                        <hr />
                        <div class="event-card-row">
                          <h5>END:</h5>
                          <h4>
                            {{ post.eventEndDate | date : "shortDate" }}&nbsp;
                            {{ post.eventEndDate | date : "shortTime" }}
                          </h4>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </mat-card-subtitle>

            <div id="post-body-row">
              <mat-card-content>
                <p id="description">{{ post.description }}</p>
              </mat-card-content>
            </div>
          </div>
        </div>
      </div>

      <mat-divider inset></mat-divider>

      <mat-card-actions>
        <div class="post-reactions">
          <div class="reactionSet">
            <div class="likes" (click)="addLike(post._id)">
              {{ likes(post) }}
              <button
                id="likeIcon"
                [ngStyle]="{ color: isLiked() && '#f98c5a' }"
                mat-icon-button
              >
                <mat-icon>thumb_up_alt</mat-icon>
              </button>
            </div>
            <div class="comments">
              {{ post.commentId.length }}
              <button id="commentIcon" mat-icon-button>
                <mat-icon>chat_bubble</mat-icon>
              </button>
            </div>
            <div class="shares">
              <button id="shareIcon" mat-icon-button>
                <mat-icon id="share-adjust">reply</mat-icon>
              </button>
            </div>
          </div>
          <ng-container *ngIf="me._id === post.userId._id">
            <div class="reactionSet">
              <div class="delete" title="Delete">
                <button id="deletePostButton" (click)="deletePost(post._id)">
                  <mat-icon id="deleteIcon">delete</mat-icon>
                </button>
              </div>
              <div class="update" title="Edit">
                <button id="updatePostButton" (click)="updatePost(post._id)">
                  <mat-icon id="editIcon">edit</mat-icon>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </mat-card-actions>
    </mat-card>
  </ng-container>

  <ng-container *ngIf="!post.isVisible">
    <h1>The Post Is Not Visible</h1>
  </ng-container>

  <div id="comments-section">
    <!-- EXISTING COMMENTS -->
    <ng-container *ngIf="post.commentId">
      <div class="comment comment-row" *ngFor="let comment of post.commentId">
        <img
          id="commentUserImg"
          [src]="
            comment.userId.avatar !== '' || null
              ? comment.userId.avatar
              : defaultAvatar
          "
          (click)="profileFront(comment.userId._id)"
        />
        <app-comments [comment]="comment"></app-comments>
      </div>
    </ng-container>

    <!-- COMMENT FORM -->
    <ng-container *ngIf="isLoggedIn">
      <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <mat-form-field id="comment-field" appearance="fill">
          <mat-label>{{ me.firstName }} leave a comment</mat-label>
          <textarea matInput formControlName="comment"></textarea>
          <em
            style="color: red"
            *ngIf="
              commentForm.controls.comment.value !== '' &&
              commentForm.controls.comment.errors &&
              commentForm.controls.comment.invalid &&
              commentForm.controls.comment.dirty
            "
            >Restricted words found:
            {{ commentForm.controls.comment.errors["restrictedWords"] }}</em
          >
        </mat-form-field>

        <div class="submitBtnRow">
          <button
            class="comment-submit"
            type="submit"
            [disabled]="!commentForm.controls.comment.valid"
          >
            SUBMIT
          </button>
        </div>
      </form>
    </ng-container>
  </div>
</div>

<div id="footer"><h5>My School &reg; 2023</h5></div>
