@font-face {
  font-family: Grotesk;
  src: url("../../../../assets/fonts/TypoGroteskRoundedDemo.otf");
}

#post-details,
#comments-section {
  margin: 50px auto 30px auto;
  width: 80%;
}

#comments-section {
  display: flex;
  flex-direction: column;
  margin-right: 0%;
  margin-bottom: 100px;
  width: 70%;
}

.comment-row {
  display: flex;
  flex-direction: row !important;
}

.comment-row,
app-comments {
  width: -webkit-fill-available;
}

#postDepartment h2,
#postGrade h2 {
  background-color: rgb(240, 240, 240);
  color: #4050b2;
  font-family: Grotesk;
  font-size: 14pt;
  letter-spacing: 0.08rem;
  margin: auto;
  padding: 3px 10px;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
  border-radius: 5px;
  cursor: pointer;
}

#postDepartment,
#postGrade {
  margin-left: 10px;
  margin-top: 5px;
}

#postDepartment h2:hover,
#postGrade h2:hover {
  color: #f98c5a !important;
}

h2 {
  margin: auto;
  font-family: Grotesk;
  font-size: 18pt;
  line-height: 20pt;
  color: white;
  margin-bottom: 10px;
  padding-top: 8px;
}

mat-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffbc83;
  background-image: linear-gradient(182deg, #ffbc83 0%, #f29c55 84%);
  padding: 5px 10px 5px 15px;
  margin: -20px -10px 0px -10px;
  border-radius: 8px 8px 0px 0px;
}

.mat-card {
  background-color: rgb(244, 244, 244);
  border-radius: 8px;
  padding: 0px 10px 20px 10px;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
  border-radius: 8px;
}

#description {
  font-size: 12pt;
  line-height: 16pt;
  padding: 10px 10px 0px 5px;
}

.post-reactions {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reactionSet,
#gradeDeptBlk {
  display: flex;
  flex-direction: row;
}

#post-body {
  width: 100%;
  flex: 1;
}

hr {
  margin: 5px auto;
}

.comment-submit {
  font-family: Grotesk;
  font-size: 16pt;
  font-weight: 700;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  width: fit-content;
  padding: 15px;
  background-image: linear-gradient(182deg, #ffbc83 0%, #f29c55 84%);
  color: white;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
  border-radius: 5px;
  margin-bottom: 30px;
}

.comment-submit:hover {
  background-color: #f29c55;
  background-image: linear-gradient(183deg, #f29c55 60%, #ea8935 100%);
}

.submitBtnRow {
  text-align: right;
}

.likes,
.comments,
.shares,
.delete,
.update {
  margin: 5px 10px 5px 0px;
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
  padding: 0px 5px 0px 10px;
  box-shadow: 0px 1px 1px rgb(124, 124, 124);
  height: 40px;
}

#shareIcon {
  transform: scaleX(-1);
  scale: 1.3;
  color: #4050b2;
  margin-top: -3px;
}

#commentIcon {
  scale: 0.8;
  color: #4050b2;
}

#likeIcon {
  scale: 0.9;
  color: #4050b2;
  border: none;
}

#deleteIcon,
#editIcon {
  scale: 0.9;
  margin: -8px 4px 3px 3px;
  color: #4050b2;
  border: none;
}

#deleteIcon:hover,
#editIcon:hover {
  color: #f98c5a;
}

#deleteIcon {
  margin-right: 7px;
}

#updatePostButton,
#deletePostButton {
  scale: 1.1;
  color: red;
  border: none;
  background-color: transparent;
  margin-top: 15px;
}

#likeIcon:hover,
#commentIcon:hover,
#shareIcon:hover {
  color: #f98c5a;
}

mat-card-content {
  margin-bottom: 5px;
}

mat-card-content p {
  margin-bottom: 0px !important;
}

mat-card-subtitle {
  margin-bottom: 10px;
}

.post-card {
  text-decoration: none;
  cursor: pointer;
}

#defaultImg {
  width: 160px;
  height: 160px;
}

.extraImgs {
  width: 60px;
  height: 60px;
}

#images-block {
  margin: 10px 0px 13px 2px;
  display: flex;
  flex-direction: row;
}

#extra-image-row {
  display: flex;
  flex-direction: row;
}

#event-card {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
  padding: 5px 10px;
  box-shadow: 0px 1px 1px rgb(124, 124, 124);
}

.start-end-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

#title-row {
  display: flex;
  flex-direction: row;
}

#event-card-column {
  display: flex;
  justify-content: right;
  margin-top: 0px;
}

#event-card-icon {
  width: 40px;
  height: 40px;
  margin-left: -10px;
}

#event-card h2 {
  color: #4050b2;
  font-family: Grotesk;
  font-size: 14pt;
  letter-spacing: 0.08rem;
  margin: auto 0px;
  padding: 0px;
}

.event-card-row h4,
.event-card-row h5 {
  color: rgb(35, 35, 35) !important;
  font-size: 8pt;
  line-height: 12pt;
  margin-bottom: 0px;
  white-space: nowrap;
}

.event-card-row h5 {
  color: rgb(140, 140, 140) !important;
  margin-right: 5px;
}

hr {
  margin: 0px auto;
}

.subtitleRow,
#post-body-row,
.event-card-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.post-content {
  display: flex;
  flex-direction: column-reverse;
}

.event-card-row {
  justify-content: space-between;
  flex-wrap: nowrap !important;
}

.subtitleRow {
  justify-content: space-between;
}

#userLockup {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#post-body {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#post-body-row {
  justify-content: space-between;
}

#postUserImg,
#commentUserImg {
  width: 65px;
  height: 65px;
  margin: auto;
  border-radius: 50%;
}

#img-col {
  margin: auto;
}

#commentUserImg {
  margin: 10px 20px 0px 0px;
}

.postUserDetail {
  margin: 15px 15px 5px 15px;
}

.postUserDetail h4 {
  font-size: 10pt;
  line-height: 14pt;
  margin: 0px auto;
}

#comment-field {
  width: -webkit-fill-available;
  align-items: flex-end;
}

#footer {
  text-align: center;
  height: 70px;
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: -1;
  background-color: rgb(244, 244, 244);
}

#footer h5 {
  margin: 10px auto;
  padding-top: 12px;
  color: rgb(167, 167, 167);
  font-family: Grotesk;
  font-size: 8pt;
  font-weight: 300;
}

#postUserImg,
.postUserName,
#commentUserImg {
  cursor: pointer;
}

.postUserName:hover {
  color: #f29c55;
}
@media (min-width: 1500px) {
  #post-details {
    width: 70%;
  }
}

@media (max-width: 1300px) {
  .subtitleRow,
  #description {
    padding-left: 5px;
  }

  #defaultImg {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 1100px) {
  #defaultImg {
    width: 100px;
    height: 100px;
  }

  .images-block {
    margin-right: 10px;
  }

  #post-details,
  #comments-section {
    width: 95%;
    margin-top: 30px;
  }

  #comments-section {
    width: 100%;
  }

  #img-col {
    margin: 0px;
  }
}

@media (max-width: 700px) {
  #userLockup {
    padding-top: 10px;
  }

  h2 {
    font-size: 14pt;
    line-height: 18pt;
  }

  #postDepartment h2,
  #postGrade h2,
  #event-card h2 {
    font-size: 12pt;
  }

  .postUserDetail {
    margin: 3px 10px;
  }

  #event-card {
    padding: 5px;
  }

  #event-card-icon {
    width: 30px;
    height: 30px;
    margin-left: -4px;
  }

  .event-card-row h4,
  .event-card-row h5 {
    font-size: 7pt;
    line-height: 10pt;
  }

  #event-card {
    flex-direction: column;
  }

  .start-end-column {
    margin-left: 5px;
  }

  #description {
    font-size: 10pt;
  }

  #postUserImg {
    width: 40px;
    height: 40px;
  }

  .postUserDetail h4 {
    font-size: 8pt;
    line-height: 12pt;
  }

  #commentUserImg {
    margin-top: 15px;
    width: 55px;
    height: 55px;
  }

  #post-body {
    margin-top: 10px;
  }

  mat-card-subtitle {
    margin-bottom: 8px;
  }

  .comment-submit {
    font-size: 14pt;
    padding: 10px;
  }
}

@media (max-width: 550px) {
  #defaultImg {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 420px) {
  #defaultImg {
    width: 60px;
    height: 60px;
  }

  .likes,
  .comments,
  .shares,
  .delete,
  .update {
    margin-right: 5px;
  }

  #shareIcon {
    scale: 1;
    /* margin-top: -3px; */
  }

  #commentIcon,
  #deleteIcon,
  #editIcon {
    scale: 0.7;
  }

  #likeIcon {
    scale: 0.8;
  }

  .mat-icon-button {
    width: 30px !important;
    height: 40px !important;
    line-height: 25px !important;
  }

  .comment-submit {
    font-size: 12pt;
    padding: 8px;
  }

  #postDepartment h2,
  #postGrade h2,
  #event-card h2 {
    font-size: 10pt;
  }
}
