<div id="faculty">
  <h1>FACULTY:</h1>
  <div class="facultyContainer">
    <ng-container *ngFor="let facultyMember of allFacultyMembers()">
      <app-faculty-member [facultyMember]="facultyMember"> </app-faculty-member>
    </ng-container>
    <!-- call that function on 4 -->
    <!--  -->
    <!--  -->

    <!--  -->
    <!-- <button (click)="allFacultyMenbers()"> click </button> -->
  </div>
</div>

<div id="mySchoolFilter">
  <h1>MY SCHOOL:</h1>
  <div class="mySchoolContainer">
    <div class="departmentColumn">
      <mat-checkbox color="primary"><h2>Administration</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>English</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>Math</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>Science</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>Social Studies</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>Art</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>Music</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>Athletics</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>Health</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>Foreign Language</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>Library</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>Guidance</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>Extracurricular</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>Transportation</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>Food Services</h2></mat-checkbox>
    </div>
    <div class="gradeColumn">
      <mat-checkbox color="primary"><h2>Kindergarten</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>1st</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>2nd</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>3rd</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>4th</h2></mat-checkbox>
      <mat-checkbox color="primary"><h2>5th</h2></mat-checkbox>
    </div>
  </div>

  <div id="footer"><h5>My School &reg; 2023</h5></div>
</div>
