<div id="faculty">
  <h1>FACULTY:</h1>
  <div class="facultyContainer">
    <!-- <ng-container *ngFor="let faculty of faculties">
      <mat-card class="facultyCard">
        <mat-card-title>{{ faculty.groupName }}</mat-card-title>
      </mat-card>
    </ng-container> -->
    <div>
      <div class="faculty-row">
        <div class="faculty-row-L">
          <img id="faculty-avatar" src="../../../assets/images/account.png" />
          <h2>Teacher Name</h2>
          <h3>Department</h3>
        </div>
        <div class="faculty-row-R">
          <div class="contactBtns">
            <mat-icon id="mailIcon">mail</mat-icon>
          </div>
          <div class="contactBtns">
            <mat-icon id="phoneIcon">phone_in_talk</mat-icon>
          </div>
        </div>
        <!-- <img id="emailIcon" src="../../../assets/images/mail_blue.png" /> -->
        <!-- <img id="phoneIcon" src="../../../assets/images/phone_blue.png" /> -->
      </div>
    </div>
  </div>

  <!-- PROFILE FRONT END VIEW -->
  <!-- <div id="profile-container">
    <div id="profile-header">
      <h2>{{ me.firstName }} {{ me.lastName }}!</h2>
    </div>

    <div id="profile-details">
      <div class="profile-row">
        <div id="profile-avatar">
          <img
            id="profile-img"
            [src]="me.avatar !== null || '' ? me.avatar : defaultAvatar"
            alt="Profile Image"
          />
        </div>
        <div class="profile-col">
          <div>
            <div class="key">
              <h3>Role:</h3>
            </div>
            <div id="groups">
              <h4 *ngFor="let group of me.groupId">
                {{ group.groupName }}
              </h4>
            </div>
          </div>
          <div>
            <div class="key">
              <h3>Grade:</h3>
            </div>
            <div id="grades">
              <h4 *ngFor="let grade of me.gradeId">
                {{ grade.gradeName }}
              </h4>
            </div>
          </div>
          <div>
            <div class="key">
              <h3>Dept:</h3>
            </div>
            <div id="departments">
              <h4 *ngFor="let department of me.departmentId">
                {{ department.depName }}
              </h4>
            </div>
          </div>
          <div>
            <div class="key">
              <h3>Address:</h3>
            </div>
            <div>
              <h4>{{ me.address }}</h4>
            </div>
          </div>
          <div>
            <div class="key">
              <h3>Phone:</h3>
            </div>
            <h4>{{ me.phoneNumber }}</h4>
          </div>
          <div>
            <div class="key">
              <h3>Email:</h3>
            </div>
            <h4>{{ me.email }}</h4>
          </div>
        </div>
        <div class="profile-col">
          <div>
            <h3>Bio:</h3>
            <h4 id="bio">{{ me.aboutMe }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
