@font-face {
  font-family: Grotesk;
  src: url("../../../assets/fonts/TypoGroteskRoundedDemo.otf");
}
#faculty {
  margin: 40px auto 200px auto;
  width: 80%;
}

#faculty h1 {
  font-family: Grotesk;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 16pt;
  color: #4050b2;
}

.facultyCard {
  margin: 10px;
  width: 30%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.31) 0px 5px 15px;
}
.facultyContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-evenly;
}
h1 {
  margin: 20px 0px 0px 20px;
}
