<div id="faculty">
  <h1>FACULTY:</h1>
  <div class="facultyContainer">
    <!-- <ng-container *ngFor="let faculty of faculties">
      <mat-card class="facultyCard">
        <mat-card-title>{{ faculty.groupName }}</mat-card-title>
      </mat-card>
    </ng-container> -->

    <div>
      <div class="faculty-row">
        <img id="faculty-avatar" src="../../../assets/images/account.png" />
        <h2>Teacher Name</h2>
        <h3>Departments</h3>
        <h4>Contact</h4>
      </div>
    </div>
  </div>
</div>
