@font-face {
  font-family: Grotesk;
  src: url("../../../assets/fonts/TypoGroteskRoundedDemo.otf");
}
#faculty {
  margin: 40px auto 200px auto;
  width: 80%;
}

#faculty h1 {
  font-family: Grotesk;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 16pt;
  color: #4050b2;
}

.facultyContainer {
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
}
