<div id="calPage">
  <ng-container *ngIf="homeCalendar; then fullCalendar; else fullCalendar">
  </ng-container>

  <ng-template #fullCalendar>
    <div id="calendar">
      <h1>EVENT CALENDAR:</h1>
      <div id="calendarPage">
        <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
        </mwl-demo-utils-calendar-header>

        <div [ngSwitch]="view">
          <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="events"
            [activeDayIsOpen]="false"
            (eventClicked)="eventClicked($event)"
          >
          </mwl-calendar-month-view>
          <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="events"
            (eventClicked)="eventClicked($event)"
          >
          </mwl-calendar-week-view>
          <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [events]="events"
            (eventClicked)="eventClicked($event)"
          >
          </mwl-calendar-day-view>
        </div>
      </div>
    </div>
  </ng-template>
  <img id="calIllustration" src="../../../assets/images/FootballPlayer.png" />
</div>

<ng-template #smallCalendar>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [activeDayIsOpen]="false"
      [events]="events"
      (eventClicked)="eventClicked($event)"
    >
    </mwl-calendar-month-view>
  </div>
</ng-template>
