@font-face {
  font-family: Grotesk;
  src: url("../../../assets/fonts/TypoGroteskRoundedDemo.otf");
}

#calendar h1,
::ng-deep .col-md-4 h3 {
  margin-bottom: 30px;
  font-family: Grotesk;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 16pt;
  color: #4050b2;
}

#calendar {
  margin: 34px auto 200px auto;
  width: 80%;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

mwl-demo-utils-calendar-header {
  color: #4050b2;
  font-family: Grotesk;
  font-size: 16pt;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

::ng-deep .cal-cell-top,
::ng-deep .cal-day-number,
::ng-deep .cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
  color: #4050b2;
}

::ng-deep .cal-month-view .cal-day-badge {
  display: none;
}

::ng-deep .cal-header {
  font-family: Grotesk;
  color: white;
  background-color: #3e5bb3;
  background-image: linear-gradient(180deg, #3e5bb3 16%, #2a4fae 100%);
}

::ng-deep .cal-month-view .cal-day-cell.cal-today {
  background-color: rgb(244, 244, 244);
}

::ng-deep .cal-today,
::ng-deep .cal-week-view .cal-header.cal-weekend span {
  color: white !important;
}

::ng-deep .btn-primary {
  background-color: #ffbc83;
  background-image: linear-gradient(182deg, #ffbc83 0%, #f29c55 84%);
  border: none;
}

::ng-deep .btn-primary:hover {
  background-color: #f7b47a;
  background-image: linear-gradient(182deg, #ffbc83 0%, #e6924d 84%);
  border: none;
}

::ng-deep .btn-outline-secondary {
  color: rgb(144, 144, 144);
  border: 1px solid rgb(221, 221, 221);
}

::ng-deep .cal-week-view .cal-time {
  color: rgb(144, 144, 144);
}

::ng-deep .btn-outline-secondary:hover {
  background-color: #f7b47a;
  background-image: linear-gradient(182deg, #ffbc83 0%, #e6924d 84%);
  border: 1px solid #f7b47a;
}

::ng-deep .cal-month-view .cal-day-badge {
  background-color: #2a4fae;
}

::ng-deep .cal-events .ng-star-inserted {
  background-color: #f7b47a !important;
}

@media (max-width: 1200px) {
  #calendar {
    width: 95%;
  }
}

@media (max-width: 1000px) {
  ::ng-deep .mwl-demo-utils-calendar-header {
    font-size: 12pt;
  }

  ::ng-deep .col-md-4 h3 {
    margin: 0px auto 20px auto;
    font-size: 14pt;
  }

  ::ng-deep .cal-cell,
  ::ng-deep .btn-primary,
  ::ng-deep .btn-outline-secondary {
    font-size: 8pt !important;
  }
}

@media (max-width: 800px) {
  #calendar {
    margin-bottom: 50px;
  }
  ::ng-deep .cal-header {
    margin-top: 10px;
  }

  #calendar h1 {
    font-size: 14pt;
  }

  ::ng-deep .col-md-4 h3 {
    margin: 20px auto;
  }

  ::ng-deep .text-center {
    text-align: start !important;
  }
}
