.faculty-row {
  background-color: #3e5bb3;
  background-image: linear-gradient(180deg, #3e5bb3 16%, #2a4fae 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: 0px auto;
  border-radius: 30px 8px 8px 30px;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
}

.faculty-row-L,
.faculty-row-R {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.faculty-row h2,
.faculty-row h3,
.faculty-row h4 {
  margin: auto 0px;
}

#faculty-avatar {
  width: 55px;
  margin-right: 15px;
}

.faculty-row h2 {
  font-family: Grotesk;
  font-size: 16pt;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #ffffff;
  margin-right: 15px;
}

.faculty-row h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  padding-top: 4px;
  color: rgb(255, 255, 255);
}

/* #emailIcon,
  #phoneIcon {
    width: 55px;
    height: auto;
  } */

.contactBtns {
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
  padding: 5px;
  box-shadow: 0px 1px 1px rgb(124, 124, 124);
  height: 40px;
  margin-right: 8px;
}

#mailIcon,
#phoneIcon {
  margin: 3px 6px 0px 6px;
  scale: 1.2;
  color: #4050b2;
}

#mailIcon:hover,
#phoneIcon:hover {
  color: #f98c5a;
}
