.registerPage {
  margin-top: 80px;
  text-align: center;
}

.first-name,
.last-name,
.email-field,
.password-field,
.confirm-field,
.submitBtn,
.register-switch {
  margin-top: 0px;
  text-align: center;
}

.submitBtn {
  margin-top: 5px;
  font-size: 13pt;
  font-weight: 700;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

#sign-up {
  text-decoration: none;
}

.submitBtn button {
  margin-top: 15px;
  width: 100px;
  padding: 10px 15px;
  background-color: #f29c55;
  color: white;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
  border-radius: 2px;
}

.submitBtn button:hover {
  background-color: #e6924d;
}

.mat-form-field {
  width: 300px;
}

#hidePswd {
  color: #4050b2;
}

.register-switch a {
  color: #4050b2;
}

.register-switch a:hover {
  color: #f29c55;
}

.choose-type {
  margin: 20px 40px 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.type-choices {
  text-align: left;
}

mat-label {
  font-size: 12pt;
  color: rgb(84, 84, 84);
  margin: 10px auto;
}

#type-label {
  margin-right: 15px;
}

.type-lables {
  margin-left: 10px;
}

.type-row {
  margin-bottom: 5px;
}
