<div id="createPostForm">
  <h2>POST NEW ANNOUNCEMENT</h2>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="formColumn">
      <div id="title">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input
            matInput
            placeholder="Title"
            formControlName="postTitle"
            required
          />
          <em
            style="color: red"
            *ngIf="
              postForm.controls.postTitle.invalid &&
              postForm.controls.postTitle.dirty &&
              postForm.controls.postTitle.errors
            "
            >Restricted words found:
            {{ postForm.controls.postTitle.errors["restrictedWords"] }}</em
          >
        </mat-form-field>
      </div>
      <div id="description">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>

          <textarea
            matInput
            placeholder="Description"
            formControlName="postDescription"
            required
            matInput
          ></textarea>
          <em
            style="color: red"
            *ngIf="
              postForm.controls.postDescription.invalid &&
              postForm.controls.postDescription.dirty &&
              postForm.controls.postDescription.errors
            "
            >Restricted words found:
            {{
              postForm.controls.postDescription.errors["restrictedWords"]
            }}</em
          >
        </mat-form-field>
      </div>
    </div>

    <div class="formColumn">
      <div id="department">
        <mat-form-field appearance="fill">
          <mat-label>Department</mat-label>
          <mat-select formControlName="departmentId">
            <mat-option>-- None --</mat-option>
            <ng-container *ngFor="let depatment of departmentList">
              <mat-option value="{{ depatment._id }}"
                >{{ depatment.depName }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div id="event">
        <div>
          <mat-checkbox id="event-check" formControlName="isEvent"
            >Event</mat-checkbox
          >
        </div>
        <div id="toggleDate" *ngIf="postForm.controls.isEvent.value">
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="eventDate"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="formColumn">
      <div id="postContent">
        <div id="images-block">
          <img
            id="defaultImg"
            src="../../../assets/images/default-placeholder-300x300.png"
          />
          <div id="extra-images">
            <img
              class="extraImgs"
              src="../../../assets/images/default-placeholder-300x300.png"
            />
            <img
              class="extraImgs"
              src="../../../assets/images/default-placeholder-300x300.png"
            />
            <img
              class="extraImgs"
              src="../../../assets/images/default-placeholder-300x300.png"
            />
            <img
              class="extraImgs"
              src="../../../assets/images/default-placeholder-300x300.png"
            />
          </div>
        </div>
      </div>
      <div class="submitBtn">
        <button type="submit">SUBMIT</button>
      </div>
    </div>

    <!-- <div id="picUpload">
          <mat-form-field appearance="fill">
            <mat-label>Choose Files</mat-label>
            <input
            type="file"
            #fileInput
            placeholder="picture"
            id="uploadFile"
            name="uploadFile"
            multiple="multiple"
            accept="image/*"
            />
          </mat-form-field>
        </div>   -->
  </form>
</div>

<!-- <a *ngIf="!isLoggedIn"routerLink="/login">Login</a>

  <a *ngIf="isLoggedIn" routerLink="/" (click)="logout()">Logout</a> -->
