<div [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">
      <a routerLink="/">
        <img id="logo" src="../assets/images/my_school_logo.png" />
      </a>
    </h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <div class="nav">
          <div class="vertical-nav">
            <a routerLink="/posts">
              <div class="navTab">
                <img class="navIcon" src="../assets/images/announcements.png" />
                <h1>ANNOUNCEMENTS</h1>
              </div>
            </a>

            <a routerLink="/calendar">
              <div class="navTab">
                <img class="navIcon" src="../assets/images/calendar.png" />
                <h1>EVENT CALENDAR</h1>
              </div>
            </a>

            <a routerLink="/departments">
              <div class="navTab">
                <img class="navIcon" src="../assets/images/departments.png" />
                <h1>DEPARTMENTS</h1>
              </div>
            </a>

            <a routerLink="/faculty">
              <div class="navTab">
                <img class="navIcon" src="../assets/images/faculty.png" />
                <h1>FACULTY</h1>
              </div>
            </a>

            <a routerLink="/account">
              <div class="navTab">
                <img class="navIcon" src="../assets/images/account.png" />
                <ng-container *ngIf="isLoggedIn && !loading">
                  <h1>Hello {{ me.firstName }}</h1>
                </ng-container>
                <ng-container *ngIf="!isLoggedIn">
                  <h1>LOGIN / SIGN-UP</h1>
                </ng-container>
              </div>
            </a>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
