<mat-card *ngIf="post.isVisible">
  <mat-card-title class="post-card">
    <a (click)="postDetail(post._id)">
      <div>
        <h2>{{ post.title | titlecase }}</h2>
      </div>
    </a>
    <div id="gradeDeptBlk">
      <div id="postGrade">
        <h2 *ngIf="post.gradeId" (click)="gradeDetails(post.gradeId[0]._id)">
          {{ post.gradeId[0].gradeName }}
        </h2>
      </div>
      <div id="postDepartment">
        <h2
          *ngIf="post.departmentId"
          (click)="deparmentDetails(post.departmentId._id)"
        >
          {{ post.departmentId.depName | titlecase }}
        </h2>
      </div>
    </div>
  </mat-card-title>

  <div class="post-content">
    <ng-container *ngIf="post.pictures.length !== 0">
      <div id="images-block">
        <ng-container *ngFor="let picture of post.pictures">
          <a [href]="picture.location" alt="post pictures" target="_blank"
            ><img id="defaultImg" [src]="picture.location"
          /></a>

        </ng-container>
      </div>
    </ng-container>

    <div id="post-body">
      <div>
        <mat-card-subtitle>
          <div class="subtitleRow">
            <div id="userLockup">
              <!-- USER IMAGE -->
              <div id="img-col">
                <img
                  id="postUserImg"
                  [src]="
                    !!post.userId.avatar ? post.userId.avatar : defaultAvatar
                  "
                  alt="User Image"
                  (click)="profileFront(post.userId._id)"
                />
              </div>

              <!-- USER NAME AND POST DATE -->
              <div class="postUserDetail">
                <h4
                  class="postUserDetail postUserName"
                  (click)="profileFront(post.userId._id)"
                >
                  {{ post.userId.firstName }} {{ post.userId.lastName }}
                </h4>
                <h4 class="postUserDetail">
                  posted: {{ post.createdAt | date : "short" }}
                </h4>
              </div>
            </div>

            <!-- EVENT CARD -->
            <div id="event-card-column">
              <ng-container *ngIf="post.isEvent">
                <div id="event-card">
                  <div id="title-row">
                    <img
                      id="event-card-icon"
                      src="../../../../assets/images/calendar.png"
                    />
                    <h2>Event:</h2>
                  </div>

                  <div class="start-end-column">
                    <div class="event-card-row">
                      <h5>START:</h5>
                      <h4>
                        {{ post.eventDate | date : "shortDate" }}&nbsp;{{
                          post.eventDate | date : "shortTime"
                        }}
                      </h4>
                    </div>
                    <hr />
                    <div class="event-card-row">
                      <h5>END:</h5>
                      <h4>
                        {{ post.eventEndDate | date : "shortDate" }}&nbsp;
                        {{ post.eventEndDate | date : "shortTime" }}
                      </h4>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </mat-card-subtitle>

        <div id="post-body-row">
          <div>
            <mat-card-content>
              <p id="description">{{ post.description }}</p>
            </mat-card-content>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-divider inset></mat-divider>

  <mat-card-actions>
    <div class="post-actions">
      <div id="social-buttons-row">
        <div class="likes" title="Like" (click)="addLike(post._id)">
          {{ countLikes }}
          <button
            id="likeIcon"
            [ngStyle]="{ color: isLiked() && '#f98c5a' }"
            mat-icon-button
          >
            <mat-icon>thumb_up_alt</mat-icon>
          </button>
        </div>
        <div class="comments" title="Comment">
          {{ post.commentId.length }}
          <button id="commentIcon" mat-icon-button>
            <mat-icon>chat_bubble</mat-icon>
          </button>
        </div>
        <div class="shares" title="Share">
          <button id="shareIcon" mat-icon-button>
            <mat-icon id="shareAdjust">reply</mat-icon>
          </button>
        </div>
      </div>
      <div id="actions-buttons-row">
        <ng-container *ngIf="isUserPosts">
          <div class="delete" title="Delete">
            <button id="deletePostButton" (click)="deletePost(post._id)">
              <mat-icon id="deleteIcon">delete</mat-icon>
            </button>
          </div>
          <div class="update" title="Edit">
            <button id="updatePostButton" (click)="updatePost(post._id)">
              <mat-icon id="editIcon">edit</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
