<mat-card>
  <a class="post-card" (click)="postDetail(post._id)">
    <mat-card-title>
      <div class="postTitle">
        <h2>{{ post.title }}</h2>
      </div>
    </mat-card-title>
  </a>

  <div class="postContent">
    <div id="images-block">
      <img
        id="defaultImg"
        src="../../../../assets/images/default-placeholder-300x300.png"
      />
      <div id="extra-images">
        <img
          class="extraImgs"
          src="../../../../assets/images/default-placeholder-300x300.png"
        />
        <img
          class="extraImgs"
          src="../../../../assets/images/default-placeholder-300x300.png"
        />
        <img
          class="extraImgs"
          src="../../../../assets/images/default-placeholder-300x300.png"
        />
        <img
          class="extraImgs"
          src="../../../../assets/images/default-placeholder-300x300.png"
        />
      </div>
    </div>

    <div id="post-body">
      <mat-card-subtitle>
        <div class="subtitleRow">
          <img id="postUserImg" src="../../../../assets/images/account.png" />
          <h4 class="postUserDetail postUserName">
            {{ post.userId.firstName }} {{ post.userId.lastName }}
          </h4>
          <h4 class="postUserDetail">
            posted on: {{ post.createdAt | date: "short" }}
          </h4>
        </div>
      </mat-card-subtitle>

      <mat-card-content *ngIf="!isFullDescription">
        <p>{{ postCut(post.description) }} ...</p>
        <!-- <p class="descriptionShow" (click)="changeFullDescription()">
          show more
        </p> -->
      </mat-card-content>
      <mat-card-content *ngIf="isFullDescription">
        <p id="description">{{ post.description }}</p>
        <!-- <p class="descriptionShow" (click)="changeFullDescription()">
          show less
        </p> -->
      </mat-card-content>
    </div>
  </div>

  <mat-divider inset></mat-divider>

  <mat-card-actions>
    <div class="post-actions">
      <div id="social-buttons-row">
        <div class="likes" title="Like">
          {{ countLikes }}
          <button id="likeIcon" mat-icon-button>
            <mat-icon>thumb_up_alt</mat-icon>
          </button>
        </div>
        <div class="comments" title="Comment">
          {{ post.commentId.length }}
          <button id="commentIcon" mat-icon-button>
            <mat-icon>chat_bubble</mat-icon>
          </button>
        </div>
        <div class="shares" title="Share">
          <button id="shareIcon" mat-icon-button>
            <mat-icon id="shareAdjust">reply</mat-icon>
          </button>
        </div>
      </div>
      <div id="actions-buttons-row">
        <ng-container *ngIf="isUserPosts">
          <div class="delete" title="Delete">
            <button id="deletePostButton" (click)="deletePost(post._id)">
              <mat-icon id="deleteIcon">delete</mat-icon>
            </button>
          </div>
          <div class="update" title="Edit">
            <button id="updatePostButton" (click)="updatePost(post._id)">
              <mat-icon id="editIcon">edit</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
