@font-face {
  font-family: Grotesk;
  src: url("../../../../assets/fonts/TypoGroteskRoundedDemo.otf");
}

h2 {
  margin: auto;
  font-family: Grotesk;
  font-size: 18pt;
  color: white;
  margin-bottom: 10px;
  padding-top: 8px;
}

mat-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffbc83;
  background-image: linear-gradient(182deg, #ffbc83 0%, #f29c55 84%);
  padding: 5px 10px 5px 15px;
  margin: -20px -10px 0px -10px;
  border-radius: 8px 8px 0px 0px;
}

mat-card-title:hover {
  background-color: #f29c55;
  background-image: linear-gradient(183deg, #f29c55 60%, #ea8935 100%);
}

#postDepartment h2,
#postGrade h2 {
  background-color: rgb(240, 240, 240);
  color: #4050b2;
  font-family: Grotesk;
  font-size: 14pt;
  letter-spacing: 0.08rem;
  margin: auto;
  padding: 3px 10px;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
  border-radius: 5px;
}

#postDepartment,
#postGrade {
  margin-top: 5px;
  margin-left: 10px;
}

#postDepartment h2:hover,
#postGrade h2:hover {
  color: #f98c5a !important;
}

h4 {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #757575;
  margin-bottom: 10px;
}

.mat-card {
  width: 100%;
  background-color: rgb(244, 244, 244);
  border-radius: 8px;
  margin: 30px auto;
  padding: 20px 10px 20px 10px;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
  border-radius: 8px;
}

.post-actions {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#social-buttons-row,
#actions-buttons-row,
#gradeDeptBlk {
  display: flex;
  flex-direction: row;
}

.likes,
.comments,
.shares,
.delete,
.update {
  margin: 5px 10px 5px 0px;
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
  padding: 0px 5px 0px 10px;
  box-shadow: 0px 1px 1px rgb(124, 124, 124);
  height: 40px;
}

#shareIcon {
  transform: scaleX(-1);
  scale: 1.3;
  color: #4050b2;
}

#shareAdjust {
  margin-top: -5px;
}

#commentIcon {
  scale: 0.8;
  color: #4050b2;
}

#likeIcon {
  scale: 0.9;
  color: #4050b2;
  border: none;
}

#deleteIcon,
#editIcon {
  scale: 0.9;
  margin: -7px 4px 0 3px;
  color: #4050b2;
  border: none;
}

#likeIcon:hover,
#commentIcon:hover,
#shareIcon:hover,
#deleteIcon:hover,
#editIcon:hover {
  color: #f98c5a;
}

#updatePostButton,
#deletePostButton {
  scale: 1.1;
  color: red;
  border: none;
  background-color: transparent;
  margin-top: 15px;
}

mat-card-subtitle {
  margin: 0 !important;
}

mat-card-content {
  margin-bottom: 5px;
}

mat-card-content p {
  margin-bottom: 0px !important;
}

mat-card > :first-child {
  margin-top: -20px;
}

.post-card div h2 {
  text-decoration: none;
  cursor: pointer;
}

#defaultImg {
  width: 160px;
  height: 160px;
}

#images-block {
  margin: 10px 0px 13px 2px;
  display: flex;
  flex-direction: row;
}

#description {
  padding: 10px 10px 0px 0px;
}

#event-card {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
  padding: 5px 10px;
  box-shadow: 0px 1px 1px rgb(124, 124, 124);
  margin: 3px 6px 0px 5px;
}

.start-end-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

#title-row {
  display: flex;
  flex-direction: row;
}

#event-card-column {
  display: flex;
  justify-content: right;
  margin-top: -3px;
}

#event-card-icon {
  width: 40px;
  height: 40px;
  margin-left: -10px;
}

#event-card h2 {
  color: #4050b2;
  font-family: Grotesk;
  font-size: 14pt;
  letter-spacing: 0.08rem;
  margin: auto 0px;
  padding: 0px;
}

.event-card-row h4,
.event-card-row h5 {
  color: rgb(35, 35, 35) !important;
  font-size: 8pt;
  line-height: 12pt;
  margin-bottom: 0px;
  white-space: nowrap;
}

.event-card-row h5 {
  color: rgb(140, 140, 140) !important;
  margin-right: 5px;
}

hr {
  margin: 0px auto;
}

.subtitleRow,
#post-body-row,
.event-card-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.post-content {
  display: flex;
  flex-direction: column-reverse;
}

.subtitleRow {
  justify-content: space-between;
}

#userLockup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.event-card-row {
  justify-content: space-between;
  flex-wrap: nowrap !important;
}

#post-body {
  width: 100%;
  margin-top: 10px;
  margin-left: 5px;
}

#post-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#postUserImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#postUserImg,
.postUserName {
  cursor: pointer;
}

.postUserName:hover {
  color: #ea8935;
}

#img-col {
  margin: auto;
}

.postUserDetail {
  margin: auto 10px;
}

.postUserDetail h4 {
  font-size: 9pt;
  line-height: 12pt;
  margin: 0px auto;
}

@media (max-width: 1600px) {
  #defaultImg {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 1300px) {
  #defaultImg {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 1100px) {
  .images-block {
    margin-right: 10px;
  }
}

@media (max-width: 700px) {
  h2 {
    font-size: 16pt;
  }

  #postDepartment h2,
  #postGrade h2 {
    font-size: 12pt;
  }

  #event-card {
    padding: 5px;
  }

  #event-card-icon {
    width: 30px;
    height: 30px;
    margin-left: -4px;
  }

  #event-card h2 {
    font-size: 10pt;
  }

  .event-card-row h4,
  .event-card-row h5 {
    font-size: 7pt;
    line-height: 10pt;
  }

  .start-end-column {
    margin-left: 5px;
  }

  #img-col {
    margin: 0px;
  }
}

@media (max-width: 700px) {
  #userLockup {
    padding-top: 10px;
  }

  h2 {
    font-size: 14pt;
    line-height: 18pt;
  }

  #postDepartment h2,
  #postGrade h2,
  #event-card h2 {
    font-size: 12pt;
  }

  .postUserDetail {
    margin: 3px 10px;
  }

  #event-card {
    padding: 5px;
  }

  #event-card-icon {
    width: 30px;
    height: 30px;
    margin-left: -4px;
  }

  .event-card-row h4,
  .event-card-row h5 {
    font-size: 7pt;
    line-height: 10pt;
  }

  #event-card {
    flex-direction: column;
  }

  .start-end-column {
    margin-left: 5px;
  }

  #description {
    font-size: 10pt;
  }

  #postUserImg {
    width: 40px;
    height: 40px;
  }

  .postUserDetail h4 {
    font-size: 8pt;
    line-height: 12pt;
  }

  #commentUserImg {
    margin-top: 15px;
    width: 55px;
    height: 55px;
  }

  mat-card-subtitle {
    margin-bottom: 8px;
  }

  .comment-submit {
    font-size: 14pt;
    padding: 10px;
  }
}

@media (max-width: 550px) {
  #defaultImg {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 420px) {
  #defaultImg {
    width: 60px;
    height: 60px;
  }

  .likes,
  .comments,
  .shares,
  .delete,
  .update {
    margin-right: 5px;
  }

  #shareIcon {
    scale: 1;
    /* margin-top: -3px; */
  }

  #commentIcon,
  #deleteIcon,
  #editIcon {
    scale: 0.7;
  }

  #likeIcon {
    scale: 0.8;
  }

  .mat-icon-button {
    width: 30px !important;
    height: 40px !important;
    line-height: 25px !important;
  }

  .comment-submit {
    font-size: 12pt;
    padding: 8px;
  }

  #postDepartment h2,
  #postGrade h2,
  #event-card h2 {
    font-size: 10pt;
  }
}
