<mat-card>
  <mat-card-title>
    <div class="postTitle">
      <h2>{{ post.title }}</h2>
    </div>
  </mat-card-title>

  <mat-card-subtitle>
    <h4>
      {{ post.userId.firstName }} {{ post.userId.lastName }} posted on
      {{ post.createdAt | date: "short" }}
    </h4>
  </mat-card-subtitle>
  <mat-card-content>
    <p>{{ post.description }}</p>

    <div *ngIf="post.commentId">
      <div class="comment" *ngFor="let comment of post.commentId">
        <app-comments [comment]="comment"></app-comments>
      </div>
    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>comment</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
