<mat-card class="example-card">
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{post.userId.firstName}} posted on {{post.createdAt | date:'short'}}</mat-card-subtitle>
    <mat-card-content>
        <p>{{ post.description }}</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat adipisci ut veniam, odit dolor deserunt, cupiditate officiis sapiente similique velit officia magni amet, eius autem quae ullam! Ullam, labore dolore!</p>
        <div *ngIf="post.commentId">
            <div class="comment" *ngFor="let comment of post.commentId">
                <p>{{comment.comment}}</p>
            </div>
        </div>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
