#profile {
  margin: 38px auto 200px auto;
  width: 80%;
}

#profile-container {
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  padding-bottom: 50px;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
  border-radius: 8px;
  width: fit-content;
  margin: 0 auto;
}

#profile h1,
#profile-header h2 {
  font-family: Grotesk;
  font-size: 16pt;
  line-height: normal;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #4050b2;
}

#profile-header {
  background-color: #3e5bb3;
  background-image: linear-gradient(180deg, #3e5bb3 16%, #2a4fae 100%);
  padding: 10px 10px 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

#profile-header {
  border-radius: 7px 7px 0 0;
}

#profile-header h2 {
  color: white;
  margin: 0px 5px;
}

#profile-details {
  padding: 10px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.mat-form-field {
  width: 200px;
}

#profile-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

#select-avatar {
  margin: 15px 0px;
  width: 90px;
}

.profile-col {
  display: flex;
  flex-direction: column;
  justify-content: flex start;
  align-items: left;
  margin: 20px 0 0 20px;
}

#update-avatar {
  border: none;
  background-color: transparent;
}

.bio {
  justify-content: space-between;
}

#update-avatar h5,
#edit-profile h5 {
  margin: 10px 0px 10px 0px;
  text-decoration: none;
  color: #4050b2;
}

#edit-profile h5 {
  margin-right: 15px;
}

#profile-img {
  margin-top: 15px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.profile-col h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  margin: 10px 0 0 10px;
  color: rgb(51, 51, 51);
}

#profile-avatar h5:hover,
#profile-header h3:hover,
#edit-profile h5:hover {
  color: #f98c5a !important;
}

#profile-header a:link,
#profile-header a:active,
#profile-header a:visited,
#profile-header a:hover,
#profile-details a:link {
  text-decoration: none;
}

.submitBtn button {
  font-size: 13pt;
  font-weight: 700;
  font-family: Grotesk;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  width: fit-content;
  padding: 10px 15px;
  background-color: #f29c55;
  color: white;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
  border-radius: 5px;
}

.submitBtn {
  margin-top: 10px;
  text-align: end;
}

.submitBtn button:hover {
  background-color: #e6924d;
}

#bio-input {
  width: 200px;
}

#footer {
  text-align: center;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: rgb(244, 244, 244);
}

#footer h5 {
  margin: 10px auto;
  padding-top: 12px;
  color: rgb(167, 167, 167);
  font-family: Grotesk;
  font-size: 8pt;
  font-weight: 300;
}

@media (max-width: 1300px) {
  .profile-row {
    flex-direction: column;
  }
  #profile-details {
    justify-content: center;
  }

  #profile-avatar {
    margin-right: 0px;
  }

  .mat-form-field,
  #bio-input {
    width: 300px;
  }

  .profile-col {
    display: flex;
    flex-direction: column;
    justify-content: flex start;
    align-items: left;
    margin: 0px;
  }

  .submitBtn {
    text-align: center;
  }
}

@media (max-width: 700px) {
  #profile {
    width: 95%;
  }

  #profile-container {
    width: 100%;
  }

  #profile h1 {
    font-size: 16pt;
  }

  #profile-header h2 {
    font-size: 12pt;
  }

  #profile h1 {
    margin: 0px 0px 15px 5px;
  }

  #profile-header h2 {
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  #profile h1 {
    font-size: 14pt;
  }
}
