.deptCard {
  background-color: #649b5a;
  margin: 20px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgb(124, 124, 124);
}

.deptCard:hover {
  background-color: #5b9251;
  cursor: pointer;
}

h1 {
  font-size: 16pt;
  margin: 30px auto 10px auto;
  text-align: center;
}

h2 {
  font-size: 16pt;
  color: white;
  line-height: 20pt;
  margin: auto;
  font-weight: 900;
}

@media only screen and (max-width: 1000px) {
  h2 {
    font-size: 12pt;
  }

  .deptCard {
    margin: 10px;
    height: 70px;
  }
}
