<mat-card>
  <mat-card-subtitle>
    <div class="commentHeader">
      <h4 id="userInfo" (click)="profileFront(comment.userId._id)">
        {{ comment.userId.firstName }}
        {{ comment.userId.lastName }} -
        {{ comment.createdAt | date : "short" }}
      </h4>
      <div class="commentReactions">
        <div class="likes">
          <button mat-icon-button>
            <mat-icon id="likeIcon">thumb_up_alt</mat-icon>
          </button>
        </div>
        <div
          (click)="
            attachUserName(comment.userId.firstName, comment.userId.lastName)
          "
          class="comments"
        >
          <button mat-icon-button>
            <mat-icon id="commentIcon">chat_bubble</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card-subtitle>
  <mat-card-content>
    <p>{{ comment.comment }}</p>
  </mat-card-content>
</mat-card>
