<app-hero></app-hero>
<div id="home">
  <h1>LATEST ANNOUNCEMENTS:</h1>

  <div *ngIf="loading">Loading...</div>
  <div *ngIf="error">Error :(</div>
  <div *ngIf="posts">
    <ng-container *ngFor="let singlepost of posts">
      <app-post [post]="singlepost" [countLikes]="likes(singlepost)"></app-post>
    </ng-container>
  </div>

  <!-- NEEDS TO RESET TO TOP OF PAGE -->
  <div class="seeAllBtn">
    <button type="submit" [routerLink]="['posts']">SEE ALL</button>
  </div>

  <hr>
  <h1>DEPARTMENTS:</h1>
  <div class="homeDeptContainer" >
    <ng-container *ngFor="let sinleDepartment of departments">
      <app-department [department]="sinleDepartment"></app-department>
    </ng-container>
  </div>
  <div class="seeAllBtn">
    <button type="submit" [routerLink]="['departments']">SEE ALL</button>
  </div>
</div>

