<div [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <div class="topBarL">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-select placeholder="My School" id="schools" name="schoollist">
        <ng-container *ngFor="let school of schoolList">
          <mat-option value="{{ school }}">{{ school }} </mat-option>
        </ng-container>
      </mat-select>
    </div>

    <div class="topBarM">
      <a routerLink="/">
        <img id="logo" src="../assets/images/logo.png" />
      </a>
    </div>

    <div class="topBarR">
      <form id="lgForm" (ngSubmit)="topSearch()">
        <input
          type="search"
          placeholder="Search..."
          [formControl]="topSearchInput"
        />
        <img id="searchIcon" src="../assets/images/search_icon_circle.png" />
        <button id="lgSubmitButton" type="submit"></button>
      </form>
      <!-- <button id="smSearchButton">
        <img id="searchIcon2" src="../assets/images/search_icon_circle.png" />
      </button> -->

      <a id="loginLink" routerLink="/account">
        <div id="login">
          <ng-container *ngIf="isLoggedIn && !loading">
            <h2>Hello {{ me.firstName }}</h2>
          </ng-container>
          <ng-container *ngIf="!isLoggedIn">
            <h2>Login</h2>
          </ng-container>
        </div>
        <div>
          <img id="accountIcon" src="../assets/images/account.png" />
        </div>
        <div id="logoMobile">
          <a routerLink="/">
            <img src="../assets/images/logo.png" />
          </a>
        </div>
      </a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <div class="nav">
          <div class="vertical-nav">
            <a routerLink="/posts">
              <div class="navTab">
                <img class="navIcon" src="../assets/images/announcements.png" />
                <h1>ANNOUNCEMENTS</h1>
              </div>
            </a>

            <a routerLink="/calendar">
              <div class="navTab">
                <img class="navIcon" src="../assets/images/calendar.png" />
                <h1>EVENT CALENDAR</h1>
              </div>
            </a>

            <a routerLink="/departments">
              <div class="navTab">
                <img class="navIcon" src="../assets/images/department.png" />
                <h1>DEPARTMENTS</h1>
              </div>
            </a>

            <a routerLink="/faculty">
              <div class="navTab">
                <img class="navIcon" src="../assets/images/faculty.png" />
                <h1>FACULTY</h1>
              </div>
            </a>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Small screen search bar -->
      <div id="smSearchBar">
        <form id="smForm" (ngSubmit)="topSearch()">
          <input
            type="search"
            placeholder="Search..."
            [formControl]="topSearchInput"
          />
          <button id="smSubmitButton" type="submit">
            <img
              height="40px"
              width="40px"
              alt="Submit"
              src="../assets/images/search_icon_circle.png"
            />
          </button>
        </form>
      </div>

      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
