.profile-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f29c55;
  padding: 7px 5px 7px 20px;
  border-radius: 8px;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
}

.profile-post a {
  text-decoration: none;
}

.delete,
.update {
  margin: 5px 10px 5px 0px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  padding: 0px 5px 0px 10px;
  box-shadow: 0px 1px 1px rgb(124, 124, 124);
  height: 40px;
}

#deleteIcon,
#editIcon {
  scale: 0.9;
  margin: -7px 4px 0 3px;
  color: #4050b2;
  border: none;
}

#deleteIcon {
  margin-right: 7px;
}

#updatePostButton,
#deletePostButton {
  scale: 1.1;
  color: red;
  border: none;
  background-color: transparent;
  margin-top: 15px;
}

.post-title-row,
.actions-buttons-row {
  display: flex;
  flex-direction: row;
}

h3 {
  margin: auto;
  font-family: Grotesk;
  font-size: 18pt;
  color: white;
  margin-right: 20px;
}

h5 {
  margin: auto;
  font-family: Grotesk;
  font-size: 12pt;
  color: white;
}
