<div class="profile-post" [ngClass]="!post.isVisible ? 'notVisible' : null">
  <a routerLink="/posts/{{ post._id }}" routerLinkActive="active">
    <div class="post-title-row">
      <h3>
        {{ post.title }}
      </h3>
      <h5>
        {{ post.createdAt | date: "short" }}
      </h5>
    </div>
  </a>

  <div class="actions-buttons-row">
    <ng-container *ngIf="isUserPosts">
      <div class="delete" title="Delete">
        <button id="deletePostButton" (click)="deletePost(post._id)">
          <mat-icon id="deleteIcon">delete</mat-icon>
        </button>
      </div>
      <div class="update" title="Edit">
        <button id="updatePostButton" (click)="updatePost(post._id)">
          <mat-icon id="editIcon">edit</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
</div>
