<div id="profile">
  <h1>PROFILE:</h1>

  <ng-container
    *ngIf="loading; then spinner_content; else profile_content"
  ></ng-container>

  <ng-template #spinner_content>LOADING...</ng-template>

  <ng-template #profile_content>
    <div id="profile-container">
      <div id="profile-header">
        <h2>Hello {{ me.firstName }} {{ me.lastName }}!</h2>
        <div id="profile-buttons">
          <a class="post-card" (click)="profileEdit(me._id)">
            <h3>Edit</h3>
          </a>
          <a routerLink="/" (click)="logout()">
            <h3>Logout</h3>
          </a>
        </div>
      </div>

      <div id="profile-details">
        <div class="profile-body">
          <div id="profile-avatar">
            <img
              id="profile-img"
              [src]="me.avatar !== null || '' ? me.avatar : defaultAvatar"
              alt="Profile Image"
            />
          </div>

          <div class="profile-col">
            <!-- Role -->
            <div>
              <div class="key">
                <h3>Role:</h3>
              </div>
              <div id="groups">
                <h4 *ngFor="let group of me.groupId">
                  {{ group.groupName }}
                </h4>
              </div>
            </div>

            <!-- Grade -->
            <div>
              <div class="key">
                <h3>Grade:</h3>
              </div>
              <div id="grades">
                <h4 *ngFor="let grade of me.gradeId">
                  {{ grade.gradeName }}
                </h4>
              </div>
            </div>

            <!-- Dept -->
            <div>
              <div class="key">
                <h3>Dept:</h3>
              </div>
              <div id="departments">
                <h4 *ngFor="let department of me.departmentId">
                  {{ department.depName }}
                </h4>
              </div>
            </div>

            <!-- Address -->
            <div>
              <div class="key">
                <h3>Address:</h3>
              </div>
              <div>
                <h4>{{ me.address }}</h4>
              </div>
            </div>

            <!-- Phone -->
            <div>
              <div class="key">
                <h3>Phone:</h3>
              </div>

              <h4>{{ me.phoneNumber }}</h4>
            </div>

            <!-- Email -->
            <div>
              <div class="key">
                <h3>Email:</h3>
              </div>
              <h4>{{ me.email }}</h4>
            </div>
          </div>

          <div class="profile-col">
            <!-- Bio -->
            <div>
              <div id="bioKey" class="key">
                <h3>Bio:</h3>
              </div>
              <div>
                <h4 id="bio">{{ me.aboutMe }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Notifications -->
      <section>
        <div id="notifications-subheader">
          <h2>Your Notifications:</h2>
        </div>
        <div id="notifications-body">
          <h5>...You have no notifications</h5>
        </div>
      </section>

      <!-- Announcements -->
      <section>
        <div id="announcements-subheader">
          <h2>Your Announcements:</h2>
          <a [routerLink]="['form-post']">
            <h3>New Post</h3>
          </a>
        </div>

        <div id="announcements-body">
          <div *ngIf="postsLoading">
            <mat-spinner></mat-spinner>
          </div>
          <div *ngIf="userPosts.length === 0">
            <h5>...You have no announcements</h5>
          </div>
          <div *ngIf="userPosts">
            <ng-container *ngFor="let singlepost of userPosts">
              <app-profile-post
                [post]="singlepost"
                [countLikes]="likes(singlepost)"
                [isUserPosts]="isUserPosts"
              >
              </app-profile-post>
            </ng-container>
          </div>
        </div>
      </section>
    </div>
  </ng-template>
</div>
