#profile {
  margin: 32px auto 150px auto;
  width: 80%;
}

#profile-container {
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  padding-bottom: 50px;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
  border-radius: 8px;
}

#groups,
#grades,
#departments {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start;
}

#profile h1,
#profile-header h2,
#announcements-subheader h2,
#notifications-subheader h2 {
  font-family: Grotesk;
  font-size: 16pt;
  line-height: 18pt;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #4050b2;
}

#profile h1 {
  margin-left: 5px;
}

section {
  margin: 20px 40px 10px 40px;
  background-color: white;
  min-height: 130px;
  border-radius: 8px;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
}

#profile-header,
#announcements-subheader,
#notifications-subheader {
  background-color: #3e5bb3;
  background-image: linear-gradient(180deg, #3e5bb3 16%, #2a4fae 100%);
  padding: 10px 10px 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#profile-header {
  border-radius: 7px 7px 0 0;
}

#announcements-subheader,
#notifications-subheader {
  background-color: #6fa465;
  background-image: linear-gradient(180deg, #6fa465 69%, #649b5a 100%);
  border-radius: 7px 7px 0 0;
}

#profile-header h2,
#announcements-subheader h2,
#notifications-subheader h2 {
  color: white;
  margin: 0px 10px;
}

/* Log out and Create Post buttons */
#profile-header h3,
#announcements-subheader h3,
#notifications-subheader h3 {
  background-color: rgb(255, 255, 255);
  color: #4050b2;
  font-family: Grotesk;
  font-size: 14pt;
  letter-spacing: 0.08rem;
  margin: auto;
  margin-right: 5px;
  padding: 3px 10px;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
  border-radius: 5px;
}

#profile-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

#profile-buttons a {
  text-decoration: none;
  cursor: pointer;
}

#edit {
  margin-right: 10px;
}

.profile-body,
#profile-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#profile-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 30px 20px 50px;
}

.profile-col {
  display: flex;
  flex-direction: column;
  justify-content: flex start;
  align-items: left;
}

.profile-col h3 {
  color: #4050b2;
  margin-bottom: 0px;
}

.key {
  width: 80px;
}

#bioKey {
  width: 40px;
}

.profile-col div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

section h5 {
  color: grey;
  margin: 20px 0 0 20px;
}

#profile-img {
  width: 130px;
  border-radius: 50%;
}

.profile-col h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  line-height: 16pt;
  margin: 0px 8px 0px 0px;
  color: rgb(51, 51, 51);
}

#profile-avatar h5:hover,
#profile-header h3:hover,
#announcements-subheader h3:hover,
#notifications-subheader h3:hover,
#edit-profile h5:hover {
  color: #f98c5a !important;
}

#profile-header a:link,
#profile-header a:active,
#profile-header a:visited,
#profile-header a:hover,
#announcements-subheader a:link,
#notifications-subheader a:link,
#profile-details a:link {
  text-decoration: none;
}

#announcements-body,
#notifications-body {
  margin: 40px auto 50px auto;
  width: 85%;
}

#footer {
  text-align: center;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: rgb(244, 244, 244);
}

#footer h5 {
  margin: 10px auto;
  padding-top: 12px;
  color: rgb(167, 167, 167);
  font-family: Grotesk;
  font-size: 8pt;
  font-weight: 300;
}

@media (max-width: 1000px) {
  .profile-body {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 50px;
  }

  #profile-avatar {
    margin: 20px 0px;
  }

  #bioKey {
    width: 80px;
  }

  @media (max-width: 800px) {
    #profile {
      width: 95%;
    }

    .profile-body {
      padding: 0px 30px;
    }

    #profile-container {
      padding-bottom: 30px;
    }

    #profile-avatar {
      margin-top: 5px;
    }

    section {
      margin: 20px;
    }

    #announcements-body,
    #notifications-body {
      width: 90%;
    }
  }

  @media (max-width: 500px) {
    #profile h1 {
      font-size: 14pt;
    }

    #profile-header h2,
    #announcements-subheader h2,
    #notifications-subheader h2 {
      font-size: 12pt;
      margin: 0px 5px;
    }

    #profile-header h3,
    #announcements-subheader h3 {
      font-size: 10pt;
    }
  }
}
