<div id="profile">
  <h1>PROFILE:</h1>

  <ng-container
    *ngIf="loading; then spinner_content; else profile_content"
  ></ng-container>

  <ng-template #spinner_content>LOADING...</ng-template>

  <ng-template #profile_content>
    <div id="profile-container">
      <div id="profile-header">
        <h2>Hello {{ me.firstName }} {{ me.lastName }}!</h2>
        <a routerLink="/" (click)="logout()">
          <h3>Logout</h3>
        </a>
      </div>
      <div id="profile-details">
        <div>
          <div class="profile-row">
            <div id="profile-avatar">
              <img
                id="profile-img"
                src="../../../../assets/images/account.png"
              />
            </div>
            <div class="profile-col key">
              <h4>Name:</h4>
              <h4>Email:</h4>
              <h4>School:</h4>
              <h4>Group:</h4>
            </div>
            <div class="profile-col value">
              <h4>{{ me.firstName }} {{ me.lastName }}</h4>
              <h4>{{ me.email }}</h4>
              <h4>Value</h4>
              <h4>Value</h4>
            </div>
          </div>
        </div>
        <a id="edit-profile" class="post-card" (click)="profileEdit(me._id)">
          <h5>Edit Profile</h5>
        </a>
      </div>

      <section>
        <div id="notifications-subheader">
          <h2>Your Notifications:</h2>
        </div>
        <div id="notifications-body">
          <h5>...You have no notifications</h5>
        </div>
      </section>

      <section>
        <div id="announcements-subheader">
          <h2>Your Announcements:</h2>
          <a [routerLink]="['form-post']">
            <h3>New Post</h3>
          </a>
        </div>

        <div id="announcements-body">
          <div *ngIf="postsLoading">
            <mat-spinner></mat-spinner>
          </div>
          <div *ngIf="userPosts.length === 0">
            <h5>...You have no announcements</h5>
          </div>
          <div *ngIf="userPosts">
            <ng-container *ngFor="let singlepost of userPosts">
              <app-profile-post
                [post]="singlepost"
                [countLikes]="likes(singlepost)"
                [isUserPosts]="isUserPosts"
              >
              </app-profile-post>
            </ng-container>
          </div>
        </div>
      </section>
    </div>
  </ng-template>
</div>
