<app-hero></app-hero>
<div class="home">
  <div class="home-column">
    <h1>LATEST ANNOUNCEMENTS:</h1>

    <div *ngIf="loading">Loading...</div>
    <div *ngIf="error">Error :(</div>
    <div *ngIf="posts">
      <ng-container *ngFor="let singlepost of posts">
        <app-post
          [post]="singlepost"
          [countLikes]="likes(singlepost)"
          [isUserPosts]="isUserPosts"
        ></app-post>
      </ng-container>
    </div>

    <div class="seeAllBtn">
      <button type="submit" [routerLink]="['posts']">SEE ALL</button>
    </div>
    <br />
    <br />
    <h1>DEPARTMENTS:</h1>
    <div class="homeDeptContainer">
      <ng-container *ngFor="let sinleDepartment of departments">
        <app-department [department]="sinleDepartment"></app-department>
      </ng-container>
    </div>
    <div class="seeAllBtn">
      <button type="submit" [routerLink]="['departments']">SEE ALL</button>
    </div>
  </div>

  <div class="widget-column">
    <h1>THE MENU:</h1>
    <div class="widget">
      <div class="widget-header">
        <h2>Breakfast&nbsp; | &nbsp;Lunch</h2>
      </div>
      <div class="widget-body">
        <h5>jkdlfjdklfjdklfjkdlf</h5>
      </div>
    </div>
  </div>
</div>
