<app-hero></app-hero>
<div class="home">
  <div class="home-body">
    <div class="home-column">
      <h1>LATEST ANNOUNCEMENTS:</h1>

      <div *ngIf="loading">Loading...</div>
      <div *ngIf="error">Error :(</div>
      <div *ngIf="posts">
        <ng-container *ngFor="let singlepost of posts">
          <app-post
            [post]="singlepost"
            [countLikes]="likes(singlepost)"
            [isUserPosts]="isUserPosts"
          ></app-post>
        </ng-container>
      </div>

      <div class="seeAllBtn">
        <button type="submit" [routerLink]="['posts']">SEE ALL</button>
      </div>
      <br />
      <br />

      <h1 id="calendar-header">CALENDAR:</h1>
      <div id="homePageCalendar">
        <app-eventCalendar [homeCalendar]="homeCalendar"></app-eventCalendar>
      </div>
      <br />
      <br />

      <h1 id="department-header">DEPARTMENTS:</h1>
      <div class="homeDeptContainer">
        <ng-container *ngFor="let sinleDepartment of departments">
          <app-department [department]="sinleDepartment"></app-department>
        </ng-container>
      </div>
      <div class="seeAllBtn">
        <button type="submit" [routerLink]="['departments']">SEE ALL</button>
      </div>
    </div>

    <div class="widget-column">
      <div class="sticky-widget">
        <h1 id="menu-header">THE MENU:</h1>
        <div class="widget">
          <div class="widget-header">
            <h2>Breakfast</h2>
            <mat-slide-toggle color="primary"></mat-slide-toggle>
            <!-- <h1>|</h1>
          <h2>Lunch</h2> -->
          </div>
          <div class="widget-body">
            <p>
              <b>Chicken & Waffles</b> -
              <i>Buttermilk, topped with crispy fried chicken.</i>
            </p>
            <mat-divider></mat-divider>
            <p>
              <b>The Lumberjack Special</b> -
              <i
                >Egg-white scramble, sausage or bacon, with hashbrowns and
                toast.</i
              >
            </p>
            <mat-divider></mat-divider>
            <p>
              <b>Fully Loaded Oatmeal</b> -
              <i>Almonds & walnuts, blended with tropical dried fruit mix.</i>
            </p>
          </div>
        </div>

        <h1 id="social-header">THE SOCIALS:</h1>
        <div class="widget">
          <div class="widget-header2">
            <div id="fb-header">
              <img class="social-icons" src="../../../assets/images/FB.png" />
            </div>
            <div id="ig-header">
              <img class="social-icons" src="../../../assets/images/IG.png" />
            </div>
            <div id="tw-header">
              <img
                class="social-icons"
                src="../../../assets/images/Twitter.png"
              />
            </div>
          </div>
          <div class="widget-body">
            <p>
              <b>@MrSaunders337</b> -
              <i
                >I just know our 5th graders are going to Ace their STAR exams
                next week!</i
              >
            </p>
            <mat-divider></mat-divider>
            <p>
              <b>@Jillibean2001</b> -
              <i
                >I hear Tuesday is a teacher workday, can someone please
                confirm?</i
              >
            </p>
            <mat-divider></mat-divider>
            <p>
              <b>@j0hnnyDee</b> -
              <i
                >My kid will be in the talent show and you've all officially
                been warned.</i
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer"><h5>My School &reg; 2023</h5></div>
</div>
