@font-face {
  font-family: Grotesk;
  src: url("../../../assets/fonts/TypoGroteskRoundedDemo.otf");
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-body {
  margin: 10px auto 100px auto;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-column {
  width: 70%;
}

#homeDeptTitle,
#homeFacultyTitle {
  position: relative;
}

.widget-column {
  margin: 0px;
  margin-left: 5%;
  width: 25%;
  display: block;
  align-items: flex-end;
}

.widget {
  margin-top: 30px;
  background-color: rgb(244, 244, 244);
  height: fit-content;
  border-radius: 8px;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
}

.widget-header,
.widget-header2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #6fa465;
  background-image: linear-gradient(180deg, #6fa465 69%, #649b5a 100%);
  border-radius: 8px 8px 0 0;
  height: 60px;
}

#menu-header {
  padding-top: 15px;
  margin-top: 25px;
}

.sticky-widget {
  position: sticky;
  top: 0;
}

.widget-header2 {
  justify-content: space-around;
  background-color: #fdb4b4;
  background-image: linear-gradient(175deg, #fdb4b4 0%, #c97474 100%);
}

#fb-header,
#ig-header,
#tw-header {
  width: 100%;
  margin: 0px auto;
  text-align: center;
}

#fb-header:hover,
#ig-header:hover,
#tw-header:hover {
  background-color: #f6acac;
  background-image: linear-gradient(150deg, #f6acac 0%, #c26d6d 100%);
  cursor: pointer;
}
#fb-header:hover {
  border-radius: 8px 0 0 0;
}

#tw-header:hover {
  border-radius: 0 8px 0 0;
}

.widget-header h2 {
  font-family: Grotesk;
  font-size: 18pt;
  letter-spacing: 0.08rem;
  padding-right: 15px;
  color: white;
  margin: auto 0px;
  text-align: center;
}

.widget-header h1 {
  color: white !important;
  font-size: 18pt !important;
  margin: 5px !important;
}

.widget-body {
  padding: 15px;
}

.widget-body p {
  margin: 0px auto;
}

.widget-body i {
  color: #757575;
}

mat-divider {
  margin: 10px auto;
}

#calendar-header {
  margin: 40px 0px 20px 10px;
}

#homePageCalendar {
  width: 100%;
  margin: 0px auto;
}

::ng-deep #calendar h1 {
  display: none;
}

::ng-deep .btn-primary,
::ng-deep .btn-outline-secondary {
  font-size: 8pt !important;
}

::ng-deep .col-md-4 h3 {
  font-size: 10pt !important;
}

::ng-deep #calendar {
  width: 95% !important;
}

#department-header {
  margin: 60px 0px -10px 10px;
}

#faculty-header {
  margin: 60px 0px 25px 0px;
}

.social-icons {
  width: 60px;
  height: auto;
  margin: 0px auto;
}

.home h1 {
  font-family: Grotesk;
  font-size: 16pt;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin: 40px 0px -10px 0px;
  color: #4050b2;
}
.seeAllBtn {
  text-align: right;
}

.seeAllBtn button {
  font-family: Grotesk;
  font-size: 16pt;
  margin: 0px 15px 30px 0px;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  width: fit-content;
  padding: 15px;
  background-color: #ffbc83;
  background-image: linear-gradient(182deg, #ffbc83 0%, #f29c55 84%);
  color: white;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
  border-radius: 5px;
}

.seeAllBtn button:hover {
  background-color: #f29c55;
  background-image: linear-gradient(183deg, #f29c55 60%, #ea8935 100%);
}

.homeDeptContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 0;
}

app-department {
  width: 50%;
}

app-calendar {
  width: 90%;
}

::ng-deep .faculty-row {
  margin-bottom: 20px !important;
}

.homeFacultyContainer {
  width: 80%;
  margin: 0px auto 35px auto;
}

#footer {
  text-align: center;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: rgb(244, 244, 244);
}

#footer h5 {
  margin: 10px auto;
  color: rgb(167, 167, 167);
  font-family: Grotesk;
  font-size: 8pt;
  font-weight: 300;
}

#homeIllustration1 {
  z-index: -1;
  position: absolute;
  height: 420px;
  width: auto;
  top: -20px;
  right: 300px;
}

#deptIllustration {
  position: absolute;
  top: -145px;
  right: 10px;
  width: 230px;
  height: auto;
  z-index: -1;
}

#facultyIllustration {
  position: absolute;
  height: 350px;
  width: auto;
  top: -60px;
  left: 70px;
  z-index: -1;
}

@media (min-width: 1400px) {
  #homeIllustration {
    top: -10px;
    right: 500px;
  }

  .home-body {
    max-width: 80%;
  }

  .home-column {
    width: 80%;
  }
}

@media (max-width: 1100px) {
  .widget-column {
    display: none;
  }

  .home-column {
    width: 95%;
  }

  .home-body {
    max-width: 100%;
  }

  .home h1 {
    margin: 5px 0px -20px 10px;
    font-size: 14pt;
  }

  .widget-header h2 {
    font-size: 14pt;
  }

  .widget-header h1 {
    font-size: 14pt !important;
  }

  .seeAllBtn button {
    font-size: 12pt;
    margin-bottom: 0px;
    padding: 6px 10px;
  }

  app-department {
    width: 90%;
  }

  .homeFacultyContainer {
    width: 88%;
  }

  #homeIllustration1 {
    height: 350px;
    top: -50px;
    right: 100px;
  }
}

@media (max-width: 500px) {
  #homeIllustration1 {
    height: 250px;
    top: -20px;
    right: 20px;
  }

  #homeIllustration4 {
    top: 3100px;
    left: 40px;
    height: 350px;
  }
}
