<!-- PROFILE FRONT END VIEW -->
<div *ngIf="!loading" id="profile-front">
  <div id="profile-container">
    <div id="profile-header">
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    </div>

    <div id="profile-details">
      <div class="profile-col">
        <div id="profile-avatar">
          <img
            id="profile-img"
            [src]="
              user.avatar !== '' && user.avatar ? user.avatar : defaultAvatar
            "
            alt="Profile Image"
          />
        </div>

        <div>
          <div class="profileIcons">
            <mat-icon id="groupIcon">picture_in_picture_alt</mat-icon>
          </div>
          <div id="groups">
            <h4>{{ gatherData(user.groupId, "groupName") }}</h4>
          </div>
        </div>

        <div>
          <div class="profileIcons">
            <mat-icon id="gradeIcon">grade</mat-icon>
          </div>
          <div id="grades">
            <h4>{{ gatherData(user.gradeId, "gradeName") }}</h4>
          </div>
        </div>

        <div>
          <div class="profileIcons">
            <mat-icon id="deptIcon">touch_app</mat-icon>
          </div>
          <div id="departments">
            <h4>{{ gatherData(user.departmentId, "depName") }}</h4>
          </div>
        </div>

        <div>
          <div class="profileIcons">
            <mat-icon id="addressIcon">location_on</mat-icon>
          </div>
          <div>
            <h4>{{ user.address }}</h4>
          </div>
        </div>

        <div>
          <div class="profileIcons">
            <mat-icon id="phoneIcon">phone_in_talk</mat-icon>
          </div>
          <div>
            <h4>{{ user.phoneNumber }}</h4>
          </div>
        </div>

        <div>
          <div class="profileIcons">
            <mat-icon id="mailIcon">mail</mat-icon>
          </div>
          <div>
            <h4>{{ user.email }}</h4>
          </div>
        </div>

        <div>
          <div class="profileIcons">
            <mat-icon id="bioIcon">info</mat-icon>
          </div>
          <div>
            <h4>{{ user.aboutMe }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer"><h5>My School &reg; 2023</h5></div>
