<!-- PROFILE FRONT END VIEW -->
<div id="profile-front">
  <div id="profile-container">
    <div id="profile-header">
      <h2>{{ facultyMember.firstName }} {{ facultyMember.lastName }}</h2>
    </div>

    <div id="profile-details">
      <div class="profile-col">
        <div id="profile-avatar">
          <img
            id="profile-img"
            [src]="(facultyMember.avatar !== '' && facultyMember.avatar) ? facultyMember.avatar : defaultAvatar"
            alt="Profile Image"
          />
        </div>

        <div>
          <div class="key">
            <h3>Role:</h3>
          </div>
          <div id="groups">
            <h4>{{ facultyMember.groupId }}</h4>
          </div>
        </div>

        <div>
          <div class="key">
            <h3>Grade:</h3>
          </div>
          <div id="grades">
            <h4>{{ facultyMember.gradeId }}</h4>
          </div>
        </div>

        <div>
          <div class="key">
            <h3>Dept:</h3>
          </div>
          <div id="departments">
            <h4>{{ facultyMember.departmentId }}</h4>
          </div>
        </div>

        <div>
          <div class="key">
            <h3>Address:</h3>
          </div>
          <div>
            <h4>{{ facultyMember.address }}</h4>
          </div>
        </div>

        <div>
          <div class="key">
            <h3>Phone:</h3>
          </div>
          <div>
            <h4>{{ facultyMember.phoneNumber }}</h4>
          </div>
        </div>

        <div>
          <div class="key">
            <h3>Email:</h3>
          </div>
          <div>
            <h4>{{ facultyMember.email }}</h4>
          </div>
        </div>

        <div>
          <div class="key">
            <h3>Bio:</h3>
          </div>
          <div>
            <h4>{{ facultyMember.aboutMe }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer"><h5>My School &reg; 2022</h5></div>
