@font-face {
  font-family: Grotesk;
  src: url("../../../assets/fonts/TypoGroteskRoundedDemo.otf");
}

#departments {
  margin: 51px auto 200px auto;
  width: 80%;
}

#departments h1 {
  margin-top: 51px;
  font-family: Grotesk;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 16pt;
  color: #4050b2;
}

.deptContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

app-department {
  width: 33%;
}

@media only screen and (max-width: 1000px) {
  .deptContainer {
    margin: auto 20px;
  }
}
