@font-face {
  font-family: Grotesk;
  src: url("../../../assets/fonts/TypoGroteskRoundedDemo.otf");
}

#departments {
  margin: 32px auto 200px auto;
  width: 85%;
  position: relative;
}

#departments h1 {
  font-family: Grotesk;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 16pt;
  color: #4050b2;
}

.deptContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

app-department {
  width: 50%;
}

#footer {
  text-align: center;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: rgb(244, 244, 244);
}

#footer h5 {
  margin: 10px auto;
  padding-top: 12px;
  color: rgb(167, 167, 167);
  font-family: Grotesk;
  font-size: 8pt;
  font-weight: 300;
}

#deptIllustration {
  position: absolute;
  top: -55px;
  right: 30px;
  width: 180px;
  height: auto;
  z-index: -1;
  visibility: visible;
}

@media only screen and (max-width: 1000px) {
  .deptContainer {
    margin: auto 20px;
  }
}

@media only screen and (max-width: 700px) {
  #departments {
    width: 95%;
    margin-bottom: 50px;
  }

  #departments h1 {
    font-size: 14pt;
    margin-left: 5px;
  }

  app-department {
    width: 100%;
  }
}
