<div *ngIf="departmentPosts.length === 0">
  <h2>No posts from this department</h2>
</div>

<div id="deptFilter" *ngIf="departmentPosts.length > 0">
  <div>
    <h1>{{ departmentPosts[0].departmentId.depName }} FACULTY:</h1>
    <div id="deptFacultyRow" *ngFor="let facultyMember of allFacultyMembers">
      <app-department-faculty
        [facultyMember]="facultyMember"
      ></app-department-faculty>
    </div>
  </div>
  <h1 id="headerMargin">
    {{ departmentPosts[0].departmentId.depName }} ANNOUNCEMENTS:
  </h1>

  <ng-container *ngFor="let singlepost of departmentPosts">
    <app-post [post]="singlepost" [countLikes]="likes(singlepost)"></app-post>
  </ng-container>
</div>
<div id="footer"><h5>My School &reg; 2023</h5></div>
