<div id="mySchoolFilter">
  <h1>MY SCHOOL:</h1>
  <div class="mySchoolContainer">
    <div class="departmentColumn">
      <mat-checkbox [checked]="true" color="primary"
        ><h2>Administration</h2></mat-checkbox
      >
      <mat-checkbox [checked]="true" color="primary"
        ><h2>English</h2></mat-checkbox
      >
      <mat-checkbox [checked]="true" color="primary"
        ><h2>Math</h2></mat-checkbox
      >
      <mat-checkbox [checked]="true" color="primary"
        ><h2>Science</h2></mat-checkbox
      >
      <mat-checkbox [checked]="true" color="primary"
        ><h2>Social Studies</h2></mat-checkbox
      >
      <mat-checkbox [checked]="true" color="primary"><h2>Art</h2></mat-checkbox>
      <mat-checkbox [checked]="true" color="primary"
        ><h2>Music</h2></mat-checkbox
      >
      <mat-checkbox [checked]="true" color="primary"
        ><h2>Athletics</h2></mat-checkbox
      >
      <mat-checkbox [checked]="true" color="primary"
        ><h2>Health</h2></mat-checkbox
      >
      <mat-checkbox [checked]="true" color="primary"
        ><h2>Foreign Language</h2></mat-checkbox
      >
      <mat-checkbox [checked]="true" color="primary"
        ><h2>Library</h2></mat-checkbox
      >
      <mat-checkbox [checked]="true" color="primary"
        ><h2>Guidance</h2></mat-checkbox
      >
      <mat-checkbox [checked]="true" color="primary"
        ><h2>Extracurricular</h2></mat-checkbox
      >
      <mat-checkbox [checked]="true" color="primary"
        ><h2>Transportation</h2></mat-checkbox
      >
      <mat-checkbox [checked]="true" color="primary"
        ><h2>Food Services</h2></mat-checkbox
      >
    </div>
    <div class="gradeColumn">
      <mat-checkbox [checked]="true" color="primary"><h2>K</h2></mat-checkbox>
      <mat-checkbox [checked]="true" color="primary"><h2>1st</h2></mat-checkbox>
      <mat-checkbox [checked]="true" color="primary"><h2>2nd</h2></mat-checkbox>
      <mat-checkbox [checked]="true" color="primary"><h2>3rd</h2></mat-checkbox>
      <mat-checkbox [checked]="true" color="primary"><h2>4th</h2></mat-checkbox>
      <mat-checkbox [checked]="true" color="primary"><h2>5th</h2></mat-checkbox>
    </div>
  </div>
</div>
