/* My school component styles */

#mySchoolFilter {
  margin: 32px auto 200px auto;
  width: fit-content;
}

#mySchoolFilter h1 {
  font-family: Grotesk;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 16pt;
  color: #4050b2;
}

.mySchoolContainer {
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  padding: 30px;
  border-radius: 8px;
}

.departmentColumn,
.gradeColumn {
  display: flex;
  flex-direction: column;
}

.departmentColumn {
  margin-right: 100px;
}

.gradeColumn {
  margin-right: 30px;
}

mat-checkbox {
  margin-bottom: 20px;
}

mat-checkbox h2 {
  font-family: Grotesk;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 16pt;
  color: #4050b2;
  margin: 0px;
  padding-left: 10px;
}

::ng-deep .mat-checkbox-inner-container {
  height: 22px !important;
  width: 22px !important;
  margin-right: 15px;
}

@media (max-width: 1000px) {
  #mySchoolFilter h1 {
    font-size: 14pt;
  }

  mat-checkbox h2 {
    font-size: 12pt;
    padding-left: 6px;
  }

  ::ng-deep .mat-checkbox-inner-container {
    height: 18px !important;
    width: 18px !important;
    margin-right: 10px;
  }

  .departmentColumn {
    margin-right: 40px;
  }

  .gradeColumn {
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  #mySchoolFilter h1 {
    margin-left: 20px;
  }

  mat-checkbox h2 {
    font-size: 11pt;
    padding-left: 4px;
  }

  ::ng-deep .mat-checkbox-inner-container {
    height: 15px !important;
    width: 15px !important;
    margin-right: 6px;
  }

  .departmentColumn {
    margin-right: 15px;
  }

  .gradeColumn {
    margin-right: 6px;
  }

  mat-checkbox {
    margin-bottom: 10px;
  }
}
