.deptCard {
  margin: 10px;
  width: 30%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.31) 0px 5px 15px;
}
.deptContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-evenly;
}
h1{
    margin: 20px 0px 0px 20px;
}

