.deptCard {
  background-color: #f29c55;
  margin: 20px;
  width: 25%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgb(124, 124, 124);
}

.deptContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 40px;
  margin-bottom: 100px;
}

h1 {
  font-size: 16pt;
  margin: 30px auto 10px auto;
  text-align: center;
}

h2 {
  font-size: 16pt;
  color: white;
  line-height: 20pt;
  margin: auto;
  font-weight: 900;
}

@media only screen and (max-width: 1000px) {
  h2 {
    font-size: 12pt;
  }

  .deptCard {
    margin: 10px;
    width: 35%;
    height: 70px;
  }

  .deptContainer {
    margin: auto 20px;
  }
}
