.searchResults {
  margin: 40px auto 200px auto;
  width: 80%;
}

.searchResults h2,
.searchResults h3 {
  font-family: Grotesk;
  font-size: 16pt;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #4050b2;
}

.searchResults h3 {
  color: #f98c5a;
  margin-left: 10px;
}

.resultsHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

a {
  font-size: 14pt;
  line-height: 18pt;
  color: #757575;
  text-decoration: none;
}

a:hover {
  color: #f98c5a;
  text-decoration: underline;
}

.backBtn button {
  font-size: 13pt;
  font-weight: 700;
  font-family: Grotesk;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  width: fit-content;
  padding: 10px 15px;
  background-color: #f29c55;
  color: white;
  border: 0.5px solid grey;
  box-shadow: 0px 1px 1px rgb(84, 84, 84);
  border-radius: 5px;
  margin-top: 40px;
}

.backBtn button:hover {
  background-color: #e6924d;
}

#searchLoading {
  display: flex;
  flex-direction: column;
  margin: 40px auto 200px auto;
  align-items: center;
}
